*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

span {
  display: inline-block;
}

.wrap {
  display: flex;
  padding-top: 100px;
}

.wrap>div {
  margin: 0 auto;
}